<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/stylesheet.css">
  <title>ISENLILLE2022</title>
</head>
<body>


<section class="container text-center">
  <br>
  <div class="row">
    <div class="col-md-4">
      <a href="createGame"><button type="button" class="btn btn-success btn-lg">Créer un salon</button></a>
    </div>
    <div class="col-md-4">
      <a href="join"><button type="button" class="btn btn-success btn-lg">Rejoindre un salon</button></a>
    </div>
    <div class="col-md-4">
      <a href="solo"><button type="button" class="btn btn-success btn-lg">Affronter le robot</button></a>
    </div>
  </div>
</section>
</body>
</html>
